* {
    margin: 0;
    box-sizing: border-box;
}

.container123 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1A2F3A;
}

.container123 .form1 {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 30%;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: 10px 10px 10px black;
    color: #FFF;
}

@media (max-width: 1366px) {
    .form1 {
        height: 80vh;
    }
}

.container123 .login {
    display: flex;
    flex-direction: column;
}

.container123 p {
    font-size: 1.2rem;
    
}

.container123 .header {
    padding-left: 25px;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Courier New';
}

.container123 .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 1.2vw;
}

.container123 .pass {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container123 .email {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container123 input {
    font-size: 1.4vw;
    padding: 5px;
    outline: none;
}

.container123 .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 35vh;
}

.container123 .button-login {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    font-family: 'Courier New';
    font-size: 1.6vw;
    font-weight: bold;
    background-color: rgba(35, 142, 35, 0.9);
    padding: 10px;
    width: 45%;
    transition: 300ms ease-in-out;
    box-shadow: 0px 0px 5px black;
}

.container123 .button-register {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    font-family: 'Courier New';
    font-size: 1.6vw;
    font-weight: bold;
    background-color: rgb(39, 84, 233);
    padding: 10px;
    width: 45%;
    transition: 300ms ease-in-out;
    box-shadow: 0px 0px 5px black;
    white-space: nowrap;
    overflow: hidden;
}

.container123 .button-login:hover {
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
    background-color: rgb(7, 105, 7);
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.container123 .button-register:hover {
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
    background-color: rgb(16, 41, 167);
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.container123 .button-container-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 28vh;
}

.container123 .button-register-register {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    font-family: 'Courier New';
    font-size: 1.6vw;
    font-weight: bold;
    background-color: rgba(35, 142, 35, 0.9);
    padding: 5px;
    width: 45%;
    transition: 300ms ease-in-out;
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
}

.container123 .button-register-register:hover {
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
    background-color: rgb(7, 105, 7);
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.container123 .button-register-back {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    font-family: 'Courier New';
    font-size: 1.6vw;
    font-weight: bold;
    background-color: rgb(39, 84, 233);
    padding: 5px;
    width: 45%;
    transition: 300ms ease-in-out;
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
}

.container123 .button-register-back:hover {
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
    background-color: rgb(16, 41, 167);
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}